@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

.counter {
  width: 100%;
  height: 100vh;
}

#sidebar {
  width: 300px;
}

.menu-txt {
  color: #959595;
}

.text-start {
  color: white;
}

.box4 {
  color: black;
}

.delivered {
  background-color: #9ed1a5;
  color: green !important;
}

.pending {
  background-color: rgb(192, 166, 117);
  color: orange !important;
}

.Cancelled{
    background-color: #d19e9e;
    color: red !important;  
}

@media screen {
  
}
